@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

.mt-page {
    margin-top: 90px;
}

.bd-navbar {
    background-image: linear-gradient(rgba(var(--bd-violet-rgb), 1), rgba(var(--bd-violet-rgb), 0.95));
}

:root {
    --bd-violet-rgb: 112.520718, 44.062154, 249.437846;
}